@import "../sass/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    .titleBank {
        color: $brand-color-red;
        font-family: $heading-font;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.96px;
    }

    ul {
        display: flex;
        gap: 16px;
    }

    li {
        list-style-type: none;
        cursor: pointer;
        color: $dark-10;
        font-family: $body-font;

        #contaDigital {
            background-color: $support-06;
            padding: 8px 12px;
            border-radius: 6px;
            transition: .2s;
        }

        #contaDigital:hover {
            transition: .2s;
            background-color: $support-05;
        }
    }

    .signup {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 20px;


        .entrar {
            font-weight: 500 !important;
            font-family: $body-font;
            color: $brand-color-red;

        }

        .abrirC {

            background-color: $brand-color-red;
            border-radius: 4px;
            border-style: none;
            box-sizing: border-box;
            color: $white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $body-font ;
            font-size: 18px;
            font-weight: 500;
            height: 40px;
            padding: 12px 24px;
            position: relative;
            text-align: center;
            text-decoration: none;

            .abrirC:hover,
            .abrirC:focus {
                background-color: #F082AC;
            }
        }
    }


}


main {
    .inicio {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-top: 10px;
    }


    .textoExplica {

        margin: 50px 150px;

        .tituloPa {
            .tituloMaior {
                color: $dark-10;
                font-family: $heading-font;
                font-size: 88px;
                font-style: normal;
                font-weight: 500;

            }

            .tituloPa {
                padding: 16px;
            }

            .tituloMenor {
                color: $dark-10;
                font-family: $body-font;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }




    .topicosCondicoes {
        display: flex;
        flex-direction: row;
        align-items: start;

        .alinhamento {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 7px;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            padding: 5px;

            p {
                font-family: $body-font;
            }
        }
    }

    .parteClicavel {
        background-color: $background-color;
        width: 99vw;
        padding: 55px;


        .textoPrinci {

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px;


            p {
                font-family: $heading-font;
                color: $brand-color-red;
                font-weight: 700;
                font-size: 20px;
            }

            h2 {
                font-family: $heading-font;
                color: $dark-10;
                font-weight: 500;
                font-size: 56px;

                #teslaBankNome {
                    color: $brand-color-red;
                }


            }

        }

        .funcoesP {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            
            .blocoDeCodigo {
                width: 300px;
                height: 294px;
                padding: 25px;
                margin: 5px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                background-color: $white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                h3 {
                    font-family: $heading-font;
                    font-weight: 500;
                    margin-bottom: 10px;


                }

                p {
                    margin: 10px 0px 10px 0px;
                    font-family: $body-font;
                    font-weight: 300;

                }

                .funcaoClica {

                    background-color: $brand-color-red;
                    border-radius: 4px;
                    border-style: none;
                    box-sizing: border-box;
                    color: $white;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $body-font;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 9px 25px;
                    text-align: center;
                    text-decoration: none;

                    .funcaoClica:hover,
                    .funcaoClica:focus {
                        background-color: #F082AC;
                    }
                }
            }
        }

    }

}





footer {
    background-color: $support-06;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 32px;

    .copyright {
        font-family: $body-font;
        font-size: 18px;
    }

    .power {
        font-family: $heading-font;
        font-weight: 700;
        color: $brand-color-red;
        display: flex;
        justify-content: center;
        gap: 12px;
        font-size: 16px;
    }

}